@font-face {
  font-family: "Kanit";
  src: url("/fonts/Kanit-400.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  src: url("/fonts/Kanit-500.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}